version: '3'

services:

  icons:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        - USER=${USER}
        - USER_PASSWORD=changemeNOW
        - SUDO=true
        - SUDO_REQUIRE_PASSWORD=false
        - ALLOW_SSH_PASSWORD=true

    volumes:
      - ./ssh/:/home/${USER}/.ssh
    ports:
      - "2222:22"

    stdin_open: true
    tty: true
    container_name: 'icons'

