Package: python-ydev
Section: Network
Priority: optional
Architecture: all
Essential: no
Depends: python-pjalib (>= 3.8)
Installed-Size: 2
Maintainer: Paul Austen <pausten.os@gmail.com>
Description: Y device message responder.
Version: 2.4
