Package: python-icons-rpc-provider
Section: Network
Priority: optional
Architecture: all
Essential: no
Depends: python-pjalib (>= 3.4)
Installed-Size: 78
Maintainer: Paul Austen <pausten.os@gmail.com>
Description: RPC provider for ICONS GW.
Version: 1.0
